.link-main-screen {
  color: #1974C9;
}

.container {
  width: 1300px;
  margin: 0 auto;
}

.header {
  margin: 15px 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__icon img {
  height: 70px;
}

.header__menu {
  margin-left: 50px;
}

.header__menu-container {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header a:hover {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: #1974C9;
}

.header__menu-item {
  margin-right: 70px;
  font-family: 'Playfair Display';
  font-size: 24px;
}

.header__menu-item:first-child {
  color: #1974C9;
  font-weight: 550;
}

.header__menu-item:first-child::after {
  content: "";
  display: block;
  height: 3px;
  background-color: #1974C9;
}

.cap {
  height: 900px;
  width: 100%;
  background: url(../src/main_backgound.jpg) center no-repeat;
  padding: 0 auto;
}

.cap__title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 65px;
  color: #FFFFFF;
  padding-right: 50px;
  padding-top: 250px;
  margin: 0;
  margin-left: 50px;
}

.cap__subtitle {
  margin-top: 100px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 80px;
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 50px;
}

.cap__subtitle span {
  width: 500px;
  text-align: left;
}

.cap__society {
  margin-top: 25px;
  margin-left: 50px;
  padding-right: 180px;
}

.preface__title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  margin-top: 20px;
}

.preface__subtitle {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
  margin: 20px 0;
}

.basic-information {
  background-color: #2c626d;
  padding: 20px 0;
}

.basic-information__title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #FFFFFF;
  text-align: center;
}

.basic-information__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}

.basic-information__text {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  color: #FFFFFF;
  margin-right: 25px;
}

.intersting-fact {
  padding: 20px 0;
}

.intersting-fact__title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
}

.intersting-fact__grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 40px;
}

.intersting-fact__grid-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.intersting-fact__number {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 128px;
  line-height: 50px;
  margin-right: 50px;
}

.intersting-fact__text {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
}

.researchers {
  background-color: #2C626D;
  padding-top: 20px;
}

.researchers__title {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  color: #FFFFFF;
  text-align: center;
}

.researchers__flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  padding-bottom: 50px;
}

.researchers__flex-item {
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
}

.researchers__name {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 24px;
  line-height: 50px;
  text-align: center;
}

.fauna__title {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  margin: 20px 0;
}

.fauna__flex-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.fauna__flex-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.fauna__text {
  margin: 0 30px;
}

.fauna__text-title {
  font-family: 'Playfair Display';
  font-weight: 600;
  font-size: 32px;
  line-height: 43px;
}

.fauna__text-subtitle {
  font-family: 'Playfair Display';
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
}

.footer {
  background-color: #2C626D;
  padding: 50px 0;
}

.footer__logo {
  text-align: center;
}

.footer__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__flex-item p {
  font-family: 'Playfair Display';
  font-weight: 700;
  font-size: 36px;
  line-height: 50px;
  text-align: center;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.footer__society a {
  margin-left: 20px;
}

.footer__pay a {
  margin-left: 20px;
}
